@keyframes toast-enter {
  from {
    opacity: 0;
    transform: translateX(40px) scale(.92);
  }

  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes toast-exit {
  from {
    opacity: 1;
    transform: translateX(0) scale(1);
  }

  to {
    opacity: 0;
    transform: translateX(40px) scale(.92);
  }
}

.go3958317564 {
  animation: toast-enter .35s cubic-bezier(.22,1,.36,1) !important;
}

.go4109123758 {
  animation: toast-exit .28s ease-in forwards !important;
}